/* Calendar Container */

#calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

/* Calendar Header and Day Styles */

.calendar-header, .calendar-row {
  display: flex;
  width: 100%;
}

.calendar-day-header, .calendar-day {
  flex: 1;
  text-align: center;
  padding: 1px;
}

.calendar-day-header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.calendar-day {
  cursor: pointer;
  border: 2px solid var(--white);
  margin: 3px;
}

.calendar-day.active {
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
}

.calendar-day:hover {
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
}

/* Month Title Styling */

#month-title {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}

/* Selected Date Styling */

#selected-date {
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
}

/* Table Styling */

.table {
  width: 100%;
  text-align: center;
}

.table th, .table td {
  vertical-align: middle;
}

/* Button Link Styling */

.btn-link {
  text-decoration: none;
  color: var(--bs-primary);
  font-size: 1.2rem;
}

/* Additional Styling for the Compact Layout */

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-tarjeta-limpia {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

.check-admin {
  font-size: 3rem;
  margin-bottom: 15px;
  color: var(--medium-alert);
}

#next-month, #prev-month {
  color: var(--primary-color);
}

.lowdata {
  border-bottom-color: var(--low-alert);
}

.mediumdata {
  border-bottom-color: var(--medium-alert);
}

.highdata {
  border-bottom-color: var(--alert);
}

.admin-tarjeta {
  flex: 1;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s;
  flex-direction: column;
  justify-content: space-between;
}

.admin-tarjeta:hover {
  transform: scale(1.05);
}

.admin-tarjetas-grupo {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.admin-estado-seccion {
  flex: 1;
  padding: 20px;
}

.card-border:hover {
  transform: scale(1.05);
  border: 1px solid var(--light-gray);
}

.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 0;
  margin-left: 70px;
  width: calc(100vw - 70px);
}

.main-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 100px);
  margin-top: 150px;
}

.card-border {
  border: 1px solid var(--light-gray);
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  padding-top: 15px;
  color: #030303;
}

body {
  background-color: #f6f7fb;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon-border {
  width: 40px;
  height: 40px;
  padding: 0;
}

.general-button {
  border-radius: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid !important;
  overflow: hidden;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 0.5rem !important;
}

body {
  font-family: 'Satoshi';
}

h1 {
  font-size: 30px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold !important;
}

.h3 {
  font-size: 16px;
  font-weight: bold;
}

.p2 {
  font-size: 14px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.p1 {
  font-size: 14px;
  font-weight: 550;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.card-body {
  justify-content: center;
  align-items: center;
}

.card-value {
  align-items: center;
  flex-direction: column;
}

.value-item {
  flex: 1;
  text-align: center;
}

.value {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.currency {
  color: #666;
}

.value-divider {
  width: 1px;
  height: 50px;
  background-color: #ddd;
  margin: 0 10px;
}

.card-footer {
  color: #666;
  margin-top: 10px;
}

.dropdown-icon {
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.button-group {
  display: flex;
  gap: 10px;
  flex-direction: row;
  color: var(--dark-gray);
  justify-content: space-between;
}

.top-bar-group {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 800;
  width: calc(100vw - 80px);
}

.btn {
  border: none;
}

.show.general-button, .general-button:focus:active {
  color: var(--white);
  background-color: var(--primary-color);
}

.general-button:hover:not(.show, :focus:active), tbody tr:hover:not(.active, :focus:active) {
  background-color: var(--hover);
}

.main-content {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  padding: 1rem 2rem 1rem;
}

.content-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border: none;
  padding: 2rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-card.w55 {
  flex-basis: 55%;
}

.content-card.w60 {
  flex-basis: 60%;
}

.w50 {
  flex-basis: 50%;
}

.content-card.w40 {
  flex-basis: 40%;
}

.content-card.w45 {
  flex-basis: 45%;
}

.icon {
  padding: 0;
}

.tabla {
  position: relative;
  margin-bottom: 2.3rem;
  margin-top: 1rem;
  overflow-x: auto;
}

.table {
  margin-top: 0px !important;
  border-collapse: collapse;
  flex: 1;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white) !important;
}

/* Data table styles */

.dt-layout-row.dt-layout-table {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.dt-paging-button {
  border-radius: 12px;
  border: 1px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  height: auto;
  background-color: var(--white);
}

.dt-layout-cell {
  flex: 1;
  display: flex;
}

tbody tr.active {
  background-color: var(--primary-color);
  color: var(--white);
}

.dt-search {
  display: none;
}

.dt-paging {
  display: inline-block;
  margin-top: 10px;
}

.dt-paging button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 0;
}

.dt-paging-button.current {
  background-color: var(--primary-color);
  color: var(--white);
}

.dt-paging-button:hover:not(.current) {
  background-color: var(--hover);
}

.dt-end, .dt-start {
  justify-content: space-around;
}

.dt-start .dt-length {
  margin-right: auto;
}

#filtros-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.title-button-group .content-card-title {
  padding-bottom: 0 !important;
}

.content-card-title {
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

.title-button-group {
  padding-bottom: 1rem;
  margin: 0;
}

.editar-btn {
  color: var(--dark-gray);
}

.search-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

#search-btn {
  background-color: var(--primary-color);
  color: var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  font-size: 1.5rem;
}

.user-input {
  flex-grow: 1;
  border-radius: calc(1rem + 5px);
  border: 1px solid var(--light-gray);
  padding: 5px 15px 5px 15px;
  background-color: var(--background-color);
}

.user-input:active, .user-input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

#search-input {
  margin-right: 0.5rem;
  padding: 5px 30px 5px 15px;
}

#date-inputs {
  color: var(--dark-gray);
}

#date-divider {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.title-button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

