:root, [data-bs-theme=light] {
  --bs-primary: #05216F;
  --bs-primary-rgb: 5,33,111;
  --bs-primary-text-emphasis: #020D2C;
  --bs-primary-bg-subtle: #CDD3E2;
  --bs-primary-border-subtle: #9BA6C5;
  --bs-secondary: #334BC1;
  --bs-secondary-rgb: 51,75,193;
  --bs-secondary-text-emphasis: #141E4D;
  --bs-secondary-bg-subtle: #D6DBF3;
  --bs-secondary-border-subtle: #ADB7E6;
  --bs-success: #78D377;
  --bs-success-rgb: 120,211,119;
  --bs-success-text-emphasis: #305430;
  --bs-success-bg-subtle: #E4F6E4;
  --bs-success-border-subtle: #C9EDC9;
  --bs-info: #4A90E2;
  --bs-info-rgb: 74,144,226;
  --bs-info-text-emphasis: #1E3A5A;
  --bs-info-bg-subtle: #DBE9F9;
  --bs-info-border-subtle: #B7D3F3;
  --bs-warning: #FFC759;
  --bs-warning-rgb: 255,199,89;
  --bs-warning-text-emphasis: #665024;
  --bs-warning-bg-subtle: #FFF4DE;
  --bs-warning-border-subtle: #FFE9BD;
  --bs-danger: #F45B69;
  --bs-danger-rgb: 244,91,105;
  --bs-danger-text-emphasis: #62242A;
  --bs-danger-bg-subtle: #FDDEE1;
  --bs-danger-border-subtle: #FBBDC3;
  --bs-light: #CED4F0;
  --bs-light-rgb: 206,212,240;
  --bs-light-text-emphasis: #525560;
  --bs-light-bg-subtle: #F5F6FC;
  --bs-light-border-subtle: #EBEEF9;
  --bs-dark: #041B58;
  --bs-dark-rgb: 4,27,88;
  --bs-dark-text-emphasis: #020B23;
  --bs-dark-bg-subtle: #CDD1DE;
  --bs-dark-border-subtle: #9BA4BC;
  --bs-body-color: #3A3A3C;
  --bs-body-color-rgb: 58,58,60;
  --bs-secondary-color: rgba(58,58,60,0.75);
  --bs-secondary-color-rgb: 58,58,60,0.75;
  --bs-tertiary-color: rgba(58,58,60,0.5);
  --bs-tertiary-color-rgb: 58,58,60,0.5;
  --bs-body-bg: #F6F7FB;
  --bs-body-bg-rgb: 246,247,251;
  --bs-body-font-family: Satoshi;
  --bs-link-color: #05216F;
  --bs-link-color-rgb: 5,33,111;
  --bs-link-hover-color: #334BC1;
  --bs-link-hover-color-rgb: 51,75,193;
  --bs-link-decoration: blink;
  --bs-border-color: #E6E8EB;
  --bs-border-radius: 0.75;
  --bs-focus-ring-width: 0.125;
  --bs-focus-ring-color: #CED4F0;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #05216F;
  --bs-btn-border-color: #05216F;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #041C5E;
  --bs-btn-hover-border-color: #041A59;
  --bs-btn-focus-shadow-rgb: 218,222,233;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #041A59;
  --bs-btn-active-border-color: #041953;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05216F;
  --bs-btn-disabled-border-color: #05216F;
}

.btn-outline-primary {
  --bs-btn-color: #05216F;
  --bs-btn-border-color: #05216F;
  --bs-btn-focus-shadow-rgb: 5,33,111;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #05216F;
  --bs-btn-hover-border-color: #05216F;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #05216F;
  --bs-btn-active-border-color: #05216F;
  --bs-btn-disabled-color: #05216F;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #05216F;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #334BC1;
  --bs-btn-border-color: #334BC1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B40A4;
  --bs-btn-hover-border-color: #293C9A;
  --bs-btn-focus-shadow-rgb: 224,228,246;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #293C9A;
  --bs-btn-active-border-color: #263891;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #334BC1;
  --bs-btn-disabled-border-color: #334BC1;
}

.btn-outline-secondary {
  --bs-btn-color: #334BC1;
  --bs-btn-border-color: #334BC1;
  --bs-btn-focus-shadow-rgb: 51,75,193;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #334BC1;
  --bs-btn-hover-border-color: #334BC1;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #334BC1;
  --bs-btn-active-border-color: #334BC1;
  --bs-btn-disabled-color: #334BC1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #334BC1;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #78D377;
  --bs-btn-border-color: #78D377;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8CDA8B;
  --bs-btn-hover-border-color: #86D785;
  --bs-btn-focus-shadow-rgb: 18,32,18;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #93DC92;
  --bs-btn-active-border-color: #86D785;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #78D377;
  --bs-btn-disabled-border-color: #78D377;
}

.btn-outline-success {
  --bs-btn-color: #78D377;
  --bs-btn-border-color: #78D377;
  --bs-btn-focus-shadow-rgb: 120,211,119;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #78D377;
  --bs-btn-hover-border-color: #78D377;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #78D377;
  --bs-btn-active-border-color: #78D377;
  --bs-btn-disabled-color: #78D377;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #78D377;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #4A90E2;
  --bs-btn-border-color: #4A90E2;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #65A1E6;
  --bs-btn-hover-border-color: #5C9BE5;
  --bs-btn-focus-shadow-rgb: 11,22,34;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #6EA6E8;
  --bs-btn-active-border-color: #5C9BE5;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #4A90E2;
  --bs-btn-disabled-border-color: #4A90E2;
}

.btn-outline-info {
  --bs-btn-color: #4A90E2;
  --bs-btn-border-color: #4A90E2;
  --bs-btn-focus-shadow-rgb: 74,144,226;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4A90E2;
  --bs-btn-hover-border-color: #4A90E2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #4A90E2;
  --bs-btn-active-border-color: #4A90E2;
  --bs-btn-disabled-color: #4A90E2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4A90E2;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #FFC759;
  --bs-btn-border-color: #FFC759;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFCF72;
  --bs-btn-hover-border-color: #FFCD6A;
  --bs-btn-focus-shadow-rgb: 38,30,13;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFD27A;
  --bs-btn-active-border-color: #FFCD6A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #FFC759;
  --bs-btn-disabled-border-color: #FFC759;
}

.btn-outline-warning {
  --bs-btn-color: #FFC759;
  --bs-btn-border-color: #FFC759;
  --bs-btn-focus-shadow-rgb: 255,199,89;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFC759;
  --bs-btn-hover-border-color: #FFC759;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFC759;
  --bs-btn-active-border-color: #FFC759;
  --bs-btn-disabled-color: #FFC759;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #FFC759;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #F45B69;
  --bs-btn-border-color: #F45B69;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F67480;
  --bs-btn-hover-border-color: #F56B78;
  --bs-btn-focus-shadow-rgb: 37,14,16;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F67C87;
  --bs-btn-active-border-color: #F56B78;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #F45B69;
  --bs-btn-disabled-border-color: #F45B69;
}

.btn-outline-danger {
  --bs-btn-color: #F45B69;
  --bs-btn-border-color: #F45B69;
  --bs-btn-focus-shadow-rgb: 244,91,105;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F45B69;
  --bs-btn-hover-border-color: #F45B69;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F45B69;
  --bs-btn-active-border-color: #F45B69;
  --bs-btn-disabled-color: #F45B69;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #F45B69;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #CED4F0;
  --bs-btn-border-color: #CED4F0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #AFB4CC;
  --bs-btn-hover-border-color: #A5AAC0;
  --bs-btn-focus-shadow-rgb: 31,32,36;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A5AAC0;
  --bs-btn-active-border-color: #9B9FB4;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #CED4F0;
  --bs-btn-disabled-border-color: #CED4F0;
}

.btn-outline-light {
  --bs-btn-color: #CED4F0;
  --bs-btn-border-color: #CED4F0;
  --bs-btn-focus-shadow-rgb: 206,212,240;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CED4F0;
  --bs-btn-hover-border-color: #CED4F0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #CED4F0;
  --bs-btn-active-border-color: #CED4F0;
  --bs-btn-disabled-color: #CED4F0;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #CED4F0;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #041B58;
  --bs-btn-border-color: #041B58;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #03174B;
  --bs-btn-hover-border-color: #031646;
  --bs-btn-focus-shadow-rgb: 217,221,230;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #031646;
  --bs-btn-active-border-color: #031442;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #041B58;
  --bs-btn-disabled-border-color: #041B58;
}

.btn-outline-dark {
  --bs-btn-color: #041B58;
  --bs-btn-border-color: #041B58;
  --bs-btn-focus-shadow-rgb: 4,27,88;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #041B58;
  --bs-btn-hover-border-color: #041B58;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #041B58;
  --bs-btn-active-border-color: #041B58;
  --bs-btn-disabled-color: #041B58;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #041B58;
}

