#nav-group {
  z-index: 1;
  position: fixed;
}

#top-menu {
  /*height: 4.5rem;*/
  background-color: #ffffff;
  padding: 18px 56px;
  border-bottom: 1px solid var(--dark3);
  width: 100%;
  /*position: fixed;*/
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

#page-wraper {
  display: flex;
  flex-direction: column;
  left: 5rem;
  width: calc(100vw - 5rem);
}

#page-wrapper > * {
  display: flex;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

body > * {
  position: absolute;
}

#content {
  padding: 2.5rem 3.5rem;
  gap: 2rem;
  display: flex;
  /*margin-top: 4.5rem;*/
  /*height: 100vh;*/
}

.content-column {
  flex-direction: column;
}

#content > * {
  display: flex;
  flex-grow: 1;
}

/* Headings */

h3 {
  font-size: 1.75rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  margin: 0;
}

h5 {
  font-size: 1.25rem;
  margin: 0;
}

h6 {
  font-size: 1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

.p-semibold {
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--dark3);
}

#page-title {
  width: fit-content;
}

/* Cards */

.tarjeta {
  background-color: #ffffff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  height: 100%;
}

.card-title-group {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.corner-group {
  display: flex;
  gap: 1rem;
}

.deck-border {
  border-radius: 0.75rem;
  border: 1px solid var(--bs-border-color);
  overflow-y: scroll;
  height: 100%;
}

.deck-row {
  border-bottom: 1px solid var(--bs-border-color);
  padding: 0.5rem 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.align-right {
  text-align: right;
}

.deck-row.comment-row {
  gap: 0.5rem;
}

.comment-row {
  flex-direction: column;
}

.comment-title {
  display: flex;
  justify-content: space-between;
}

.deck-title {
  display: flex;
  flex-direction: column;
  color: var(--bs-primary-text-emphasis);
}

/* Comment display */

.comment {
  /*display: none;*/
  color: var(--bs-primary-text-emphasis);
}

.deck-title:hover {
  background-color: var(--bs-form-invalid-color);
}

.deck-title:hover + .comment {
  display: block;
}

a {
  text-decoration: none;
}

/* Buttons */

.btn {
  display: flex;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.75rem !important;
  width: fit-content;
  height: fit-content;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background: #ffffff;
}

.btn-group {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 1rem;
}

.btn.active {
  background: var(--bs-light);
  border-color: var(--bs-primary);
  color: var(--bs-primary);
}

.btn-primary {
  background: var(--dark2);
  color: #ffffff;
}

/* Search */

.input-div {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark3);
  border-radius: 0.75rem;
  flex-grow: 1;
}

.input-div.search {
  padding: 0 1.5rem;
}

input {
  border: none;
}

.search-input {
  flex-grow: 1;
  background: none;
  width: 100%;
}

.search-input:focus, .date-input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
  background-color: inherit;
}

.btn-search-group {
  display: flex;
  gap: 1rem;
}

.tarjeta.row-direction {
  flex-direction: row;
  justify-content: space-between;
}

.tarjeta.row-direction > * {
  flex: 1;
}

.tarjeta.filtro-busqueda > * {
  flex-grow: 1;
}

.date-input {
  flex-grow: 1;
  padding: 0 1.5rem;
  background: none;
}

#lugar-entrega {
  flex-grow: 1;
  justify-content: space-between;
}

/* Table */

.btn-cell {
  display: flex;
  justify-content: space-between;
}

.right-cell {
  text-align: right;
}

/* info */

.info-detail {
  display: flex;
  justify-content: space-between;
}

.info-detail.max-height {
  height: 100%;
}

.info-detail.max-width {
  flex: 1;
}

.info-input {
  border: 1px solid var(--dark3);
  border-radius: 0.75rem;
  padding: 0 1.5rem;
}

.info-detail.expand {
  flex-grow: 1;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 0 2rem;
  flex-wrap: wrap;
}

.info-column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-input.long-text {
  height: 8rem;
}

/* Modal */

.modal-body {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.info-detail {
  gap: 1rem;
  align-items: center;
}

/* Disabled input */

select:disabled {
  background: none;
  border: none;
  color: var(--bs-primary-text-emphasis);
  appearance: none;
}

.info-input:disabled {
  border: none;
  color: var(--bs-primary-text-emphasis);
  padding: 0;
  appearance: textfield;
  background: none;
  height: auto;
}

/* Rows */

.info-even-row {
  display: flex;
  gap: 2rem;
}

.info-even-row > * {
  flex: 1;
}

/* Progreso */

.progress {
  width: 100%;
}

/* Links */

.link-p {
  font-size: 1rem;
  color: var(--bs-dark-text-emphasis);
  display: flex;
  flex: 1;
}

.link-p:hover {
  color: #ffffff;
  background-color: var(--bs-primary);
}

