.btnHistorial {
  height: 3rem;
  width: 3rem;
  background-color: var(--bs-primary);
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  font-size: 1.5rem;
  border-radius: 50%!important;
}

#hisorialIcon {
  color: #ffffff;
}

#historialGrupo {
  position: fixed;
  display: flex;
  align-items: end;
  z-index: 500;
  right: 1rem;
  bottom: 1rem;
}

#historialContent {
  height: 50vh;
  width: 50vw;
  border: 1px solid var(--bs-border-color);
  box-shadow: 0px 4px 8px var(--bs-primary-bg-subtle);
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 0;
  overflow: hidden;
}

#historialContent > * {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#historialIzquierda {
  width: 40%;
  border-right: 1px solid var(--bs-border-color);
}

#historialDerecha {
  width: 60%;
}

#searchHeader {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--bs-border-color);
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#searchHeader .input-div.search {
  padding: 0rem 1rem;
}

.list-group {
  overflow-y: scroll;
}

.list-group-item {
  background-color: #ffffff;
}

.list-group-item.active {
  background-color: var(--bs-primary);
}

.list-group-item.active .text-muted {
  color: #ffffff!important;
}

.btn-icon {
  border: none;
  padding: 1rem 0.25rem;
}

#historialDerecha .corner-group {
  gap: 0;
}

#historialDerecha .card-title-group {
  padding: 0rem 1rem;
  border-bottom: 1px solid var(--bs-border-color);
}

#historialDerecha input {
  flex-grow: 1;
  display: flex;
  background: var(--bs-light-border-subtle);
  border-radius: 1rem;
  height: 2rem;
  margin: 0.5rem 0rem;
  padding: 0rem 1rem;
}

#historialDerecha .icon {
  color: var(--bs-primary-border-subtle);
}

#historialDerecha .info-row {
  padding: 0.5rem 1rem;
  gap: 0.25rem;
  flex-direction: row;
  flex-wrap: nowrap;
}

#historialDerecha .list-group {
  flex-grow: 1;
}

#tblHistorial td {
  vertical-align: baseline;
  display: flex;
}

/* Chat */

.usuarioMovimiento {
  text-align: center;
  padding: 0rem 4rem;
}

#historial .list-group-item {
  border: none;
}

/* Display */

#historialContent {
  display: none;
}

